<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tmfsz</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <%= content_tag :body, class: body_class(@conn) do %>
    <div class="container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer>
        <p>
          SO WHAT IF I NEVER ASKED PERMISSION FROM
          <a href="https://twitter.com/dasharez0ne">DA SHARE Z0NE</a>
          <br />
          I GOT TIRED OF SCROLLING THROUGH ALL THE CONTENT ALL THE TIME
          <BR />
          ITS VERY SITATIONAL SOMETIMES
        </p>
      </footer>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  <% end %>
</html>
