<h2>Show tweet</h2>

<%= for i <- Tmfsz.Tweet.image_urls(@tweet) do %>
   <%= tag :img, src: i %>
<% end %>

<ul>
  <li>
    <strong>Id number:</strong>
    <%= @tweet.id_number %>
  </li>

  <li>
    <strong>Text:</strong>
    <%= @tweet.text %>
  </li>

  <li>
    <strong>Created at:</strong>
    <%= @tweet.created_at %>
  </li>

  <li>
    <strong>Caption:</strong>
    <%= @tweet.caption %>
  </li>

</ul>

<%= link "Back", to: tweet_path(@conn, :index) %>
