<div class="jumbotron">
  <h1>YOURE IN THE SEARCH ZONE NOW</h1>
  <h2>YOUR QUERIES BELONG TO ME</h2>
</div>

<%= form_for @conn, search_path(@conn, :search), [as: :search, method: "get"], fn f -> %>
<div class="form-group searchz0ne">
  <%= text_input f, :q %>
  <%= submit "search", class: "btn btn-primary" %>
</div>
<% end %>
